body{
background:#0f172a;
color:white;
font-family:Arial;
}


 nav{
    background-color:#00ffff;
    ;
 }

.navbar-brand{
color:white;
font-size:24px;
font-weight:bold;
}

.nav-link{
color:white;
margin-left:20px;
transition:.3s;
}

.nav-link:hover{
color:#00ffff;
}



.home{
padding-top:120px;
min-height:100vh;
display:flex;
align-items:center;
background-color: #0f172a;
color: white;
}

.home h1{
font-size:55px;
font-weight:bold;
}

.home h3 span{
color:#00ffff;
}



.social a{
display:inline-flex;
width:40px;
height:40px;
border:2px solid #00ffff;
border-radius:50%;
align-items:center;
justify-content:center;
margin-right:10px;
color:#00ffff;
transition:.4s;
}

.social a:hover{
background:#00ffff;
color:#111;
transform:scale(1.2);
}



.btn-main{
background:#00ffff;
border:none;
padding:12px 30px;
border-radius:30px;
margin-top:20px;
box-shadow:0 0 20px #00ffff;
transition:.4s;
color: white
}

.btn-main:hover{
transform:scale(1.1);
}



.hexagon{
width:320px;
height:360px;
background:#00ffff;

padding:8px;
margin:auto;
}

.hexagon img{
width:100%;
height:100%;
object-fit:cover;

}

.about{
padding:100px 0;
background:#111827;
width: 100%;
color: wheat;
}

.about h2{
font-size:45px;
font-weight:bold;
margin-bottom:10px;
}

.about h2 span{
color:#00ffff;
}

.about h4{
margin-bottom:20px;
}

.about p{
color:#ccc;
line-height:1.7;
}



.about-img{
width:320px;
height:360px;
background:#00ffff;


padding:8px;
margin:auto;
transition:0.5s;
}

.about-img img{
width:100%;
height:100%;
object-fit:cover;

}



.about-img:hover{
transform:scale(1.05);
box-shadow:0 0 40px #00ffff;
}



.about-text{
animation:fadeIn 1.5s ease;
}

@keyframes fadeIn{
0%{
opacity:0;
transform:translateY(40px);
}

100%{
opacity:1;
transform:translateY(0);
}
}

.skills{
padding:100px 0;
background:#0f172a;
color: white  ;
}

.skills h2{
font-size:40px;
font-weight:bold;
}

.skills h2 span{
color:#00ffff;
}

.skill{
margin-bottom:30px;
}

.skill h5{
margin-bottom:10px;
}

.progress{
height:12px;
background:#1f2937;
border-radius:20px;
overflow:hidden;
}

.progress-bar{
height:100%;
background:#00ffff;
text-align:right;
padding-right:10px;
font-size:12px;
line-height:12px;
border-radius:20px;
box-shadow:0 0 10px #00ffff;
transition:1s;
}

.html{
width:90%;
}

.css{
width:85%;
}

.js{
width:75%;
}

.bootstrap{
width:80%;
}

.react{
width:65%;
}

.git{
width:70%;
}



.skill:hover .progress-bar{
background:#00e1ff;
box-shadow:0 0 20px #00ffff;
}


.contact{
padding:100px 0;
background:#111827;
text-align:center;
color: white;
}

.contact h2{
font-size:40px;
font-weight:bold;
margin-bottom:40px;
}

.contact h2 span{
color:#00ffff;
}



.contact input,
.contact textarea{
width:100%;
padding:15px;
margin:10px 0;
background:#1f2937;
border:none;
outline:none;
border-radius:8px;
color:white;
transition:0.3s;
}



.contact input:focus,
.contact textarea:focus{
box-shadow:0 0 15px #00ffff;
}

.contact textarea{
resize:none;
}


.contact .btn-main{
margin-top:20px;
}


.projects{
padding:100px 0;
background:#0f172a;
color: white;
height: 100%;
}

.projects h2{
font-size:40px;
font-weight:bold;
}

.projects h2 span{
color:#00ffff;
}



.project-card{
position:relative;
overflow:hidden;
border-radius:15px;
cursor:pointer;
}

.project-card img{
width:100%;
display:block;
transition:0.5s;
}



.project-layer{
position:absolute;
bottom:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(transparent,#00ffff);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
opacity:0;
transition:0.5s;
padding:20px;
}



.project-card:hover img{
transform:scale(1.1);
}

.project-card:hover .project-layer{
opacity:1;
}



.project-layer h4{
font-size:22px;
margin-bottom:10px;
}

.project-layer p{
font-size:14px;
margin-bottom:15px;
}


.tech-stack{
padding:100px 0;
background:#111827;
color: wheat;
}

.tech-stack h2{
font-size:40px;
font-weight:bold;
}

.tech-stack h2 span{
color:#00ffff;
}



.tech-card{
background:#1f2937;
padding:30px;
border-radius:15px;
transition:0.4s;
cursor:pointer;
}



.tech-card i{
font-size:50px;
color:#00ffff;
margin-bottom:10px;
}



.tech-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #00ffff;
background:#00ffff;
}

.tech-card:hover i,
.tech-card:hover h5{
color:#111;
}


.stats{
padding:80px 0;
background:#111827;
color: white;
}

.stat-box{
background:#1f2937;
padding:30px;
border-radius:12px;
transition:.4s;
}

.stat-box h2{
color:#00ffff;
font-size:40px;
}

.stat-box:hover{
transform:translateY(-8px);
box-shadow:0 0 20px #00ffff;
}


.cta{
padding:100px 0;
background:#0f172a;
text-align:center;
color: white;
}

.cta h2{
font-size:40px;
margin-bottom:15px;
}

.cta p{
color:#bbb;
margin-bottom:25px;
}
.footer{
background:#020617;
padding:30px 0;
text-align:center;
}

.footer p{
color:#aaa;
margin-bottom:10px;
}


.services{
padding:100px 0;
background:#0f172a;
color: white;
}

.services h2 span{
color:#00ffff;
}



.service-card{
background:#1f2937;
padding:40px;
border-radius:15px;
text-align:center;
transition:0.4s;
cursor:pointer;
}


.service-card i{
font-size:50px;
color:#00ffff;
margin-bottom:15px;
}



.service-card h4{
margin-bottom:15px;
}


.service-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #00ffff;
background:#00ffff;
}



.service-card:hover h4,
.service-card:hover p,
.service-card:hover i{
color:#111;
}
.journey{
padding:100px 0;
background:#111827;
color: white;
}

.journey h2 span{
color:#00ffff;
}

.timeline{
margin-top:40px;
}

.timeline-item{
background:#1f2937;
padding:25px;
border-radius:10px;
margin-bottom:20px;
border-left:4px solid #00ffff;
transition:0.3s;
}

.timeline-item h4{
color:#00ffff;
}

.timeline-item:hover{
transform:translateX(10px);
box-shadow:0 0 15px #00ffff;
}
.featured-project{
padding:100px 0;
background:#111827;
color: white;
}

.featured-project span{
color:#00ffff;
}

.featured-img{
border-radius:10px;
transition:0.4s;
}

.featured-img:hover{
transform:scale(1.05);
box-shadow:0 0 20px #00ffff;
}
.process{
padding:100px 0;
background:#0f172a;
color: white;
}

.process span{
color:#00ffff;
}

.process-card{
background:#1f2937;
padding:30px;
border-radius:10px;
transition:0.3s;
}

.process-card h4{
color:#00ffff;
font-size:35px;
}

.process-card:hover{
transform:translateY(-8px);
box-shadow:0 0 15px #00ffff;
}
.faq{
padding:100px 0;
background:#111827;
color: white;
}

.faq-item{
background:#1f2937;
padding:20px;
margin-bottom:15px;
border-radius:8px;
}

#scrollTopBtn {
    
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#scrollTopBtn:hover {
    background-color: #0056b3;
}
#scrollTopBtn {
    
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 28px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 12px 14px;
    cursor: pointer;
    z-index: 99;
}